.ant-pro-basicLayout{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

[data-theme='dark']{
  .ant-layout{
    background: inherit;
  }
}

.ant-pro-sider .ant-layout-sider-children{
  display: flex;
  flex-direction: column;
  height: 100%;
}
