.ant-pro-basicLayout{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.ant-pro-sider .ant-layout-sider-children{
  display: flex;
  flex-direction: column;
  height: 100%;
}
