.ant-pro-global-header{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;
  background: #fff;
  box-shadow:0 1px 4px rgba(0,21,41,.08);

  >*{
    height: 100%;
  }


  &-logo{
    position: relative;
    overflow: hidden;

    a {
      display: flex;
      align-items: center;
      height: 100%;

      img {
        height: 28px;
      }
      h1{
        height: 32px;
        margin: 0 0 0 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  &-layout-mix{
    background: #001529;
  }
  &-layout-mix &-logo{
    h1{
      color: #fff;
    }
  }
}

[data-theme='dark'] .ant-pro-global-header{
  background: #001529;
  box-shadow:0 1px 4px rgba(0,21,41,.08);
  &-layout-mix{
    background: rgb(15, 28, 41);
    &-logo{
      color: rgb(229, 224, 216);
    }
  }
}
