.ant-pro-sider{
  .ant-menu{
    background: 0 0;    
  }
  &-menu{
    position: relative;
    z-index: 10;
    min-height: 100%;
    border-inline-end: none !important;
  }

  &-collapsed-button{
    border-top: 1px solid rgba(0,0,0,.06);
  }

  &-light{
    .ant-menu-light{
      border-right-color:  transparent;
    }
  }
}


[data-theme='dark'] .ant-pro-sider {
  &-collapsed-button{
    border-top: 1px solid rgba(143, 132, 117, 0.06);
  }
}
