html{
  --ant-pro-sider-border-color: rgba(0,0,0,.06);
}

html.dark{
  --ant-pro-sider-border-color: rgba(143, 132, 117, 0.06);
}

.ant-pro-sider{
  .ant-menu{
    background: 0 0;    
  }
  &-menu{
    position: relative;
    z-index: 10;
    min-height: 100%;
    border-inline-end: none !important;
  }

  &-collapsed-button{
    border-top: 1px solid var(--ant-pro-sider-border-color);
  }

  &-light{
    .ant-menu-light{
      border-right-color:  transparent;
    }
  }
}
